@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply max-w-[1600px];
    @apply mx-auto;
}

section#hero {
    background: linear-gradient(90deg, #721CE3 67%, #FFC83E 33%);
}

section#featured {
    background: linear-gradient(90deg, #721CE3 41.6%, #FFC83E 41.6%);
}

header button.active {
    @apply w-10;
}

header button.active::before {
    transform: rotate(45deg);
    width: 50px;
    top: 25px;
}

header button.active::after {
    transform: rotate(-45deg);
    width: 50px;
    bottom: 12.5px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #fff transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
    background: transparent;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 14px;
}